<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/show.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Image'n
    </h1>
    <form id="homeBtn" action="/">
        <input type="submit" value="HOME">
    </form>
    <img id="image" src="https://picsum.photos/id/<%=id%>/200/300" alt="" width="200px" height="300px"><br/>
    <main>
        <% for (let i = 0; i < comment.length; i++) { %>
            <% if (comment[i].imageId === parseInt(id)) { %>
                <div class="forms">
                    <p><%=comment[i].body%></p>
                    <div id="btns">
                        <form id="edtBtn" action="/<%=id%>/<%=comment[i]._id%>/edit"><input type="submit" value="Edit"></form>
                        <form id="delBtn" action="/<%=id%>/<%=comment[i]._id%>?_method=DELETE" method="POST"><input type="submit" value="Delete"></form>
                    </div>
                </div>
            <% } %>
        <% } %>
    <br/>
    <form id="commentBox" action="/<%=id%>" method="POST">
        <input type="text" name="body" placeholder="Type Comment">
        <input type="submit" value="Post Comment">
        <input type="text" name="imageId" value="<%=id%>" class="imageId">
    </form>

    </main>

</body>
</html>