<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/show.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Image'n
    </h1>
    <form id="homeBtn" action="/">
        <input type="submit" value="HOME">
    </form>
    <img id="image" src="https://picsum.photos/id/<%=id%>/200/300" alt="" width="200px" height="300px"><br/>
        <% for (let i = 0; i < comment.length; i++) { %>
            <% if (comment[i].imageId === parseInt(id)) { %>
                <p><%=comment[i].body%>
                    <div class="forms">
                        <form action="/<%=id%>/<%=comment[i]._id%>/edit"><input type="submit" value="Edit"></form>
                        <form action="/<%=id%>/<%=comment[i]._id%>?_method=DELETE" method="POST"><input type="submit" value="Delete"></form>
                    </div>
                </p>
            <% } %>
        <% } %>
    <br/>
    <form action="/<%=id%>/new">
        <input type="submit" value="New Comment">
    </form>

</body>
</html>